<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inrganicos</title>
    <script src="../../routes/cart.js"></script>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
      #in-id {
        pointer-events: none;
      }
    </style>
  </head>
  <body style="margin: 0px">
    <%- include('../partials/navbar', {email: email}); %>
    <h1>Productos inorgánicos</h1>
    <table>
      <tr>
        <th>Tìtulo</th>
        <th>Precio</th>
        <th>Imagen</th>
      </tr>
      <% inorganics.forEach(element => { %>
      <tr>
        <td><%= element.title %></td>
        <td>$<%= element.price %></td>
        <td>
          <img style="height: 100px" src="<%= element.thumbnail %>" alt="" />
        </td>
        <td>
          <a href="/cart/<%= element._id %>">
            <img
              style="height: 30px; margin: 2px"
              src="public/assets/add-to-cart.png"
              alt=""
            />
          </a>
        </td>
      </tr>
      <% }) %>
    </table>
    <%- include('../partials/footer'); %>
  </body>
</html>
